section#contacts-section.contacts-section
    .container
        include map
        .footer-content
            img.footer-img(src="/images/линейка.svg" alt="ruler" data-aos="fromOpacity" data-aos-delay="1200")
            img.footer-img2(src="/images/footer_tower.svg" alt="tower" data-aos="fromOpacity" data-aos-delay="1200")
            .default-title(data-aos="userFadeUp") Контакты
            .footer-contacts
                .footer-contact(data-aos="userFadeUp" data-aos-delay="150")
                    span Телефон
                    a(href="tel: +380487032230") +38 (048) 703 22 30
                .footer-contact(data-aos="userFadeUp" data-aos-delay="300")
                    span Почта
                    a(href="mailto: rsg@gmail.com") rsg@gmail.com
                .footer-contact(data-aos="userFadeUp" data-aos-delay="450")
                    span Адрес
                    a(href="") Одесса, ул. Проценка 23/4
                .footer-contact(data-aos="userFadeUp" data-aos-delay="600")
                    span Время работы
                    span Пн. - Сб. : 14:00 - 20:00 <br> Вс. : Выходной
            .footer-socials(data-aos="userFadeUp" data-aos-delay="750" data-aos-offset="-50")
                a(href="" target="_blank")
                    img(src="/images/icon_instagram.svg" alt="instagram")
                a(href="" target="_blank")
                    img(src="/images/icon_facebook.svg" alt="instagram")
            .copyrights(data-aos="userFadeUp" data-aos-delay="900" data-aos-offset="-50")
                span Ready, STUDY, Go! © 2021 by
                a(href="" target="_blank") Command+X