.default-title(data-aos="userFadeUp") Вопросы и ответы
.faq-items
    .item(data-aos="userFadeUp" data-aos-delay="150")
        .item-label
            span Where Can You Find Unique Myspace Layouts Nowadays
            span
        .default-desc Few would argue that, despite the advancements of feminism over the past three decades, women still face a double standard when it comes to their behavior. While men’s borderline-inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct.
    .item(data-aos="userFadeUp" data-aos-delay="300")
        .item-label
            span Where Can You Find Unique Myspace Layouts Nowadays
            span
        .default-desc Few would argue that, despite the advancements of feminism over the past three decades, women still face a double standard when it comes to their behavior. While men’s borderline-inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct.
    .item(data-aos="userFadeUp" data-aos-delay="450")
        .item-label
            span Where Can You Find Unique Myspace Layouts Nowadays
            span
        .default-desc Few would argue that, despite the advancements of feminism over the past three decades, women still face a double standard when it comes to their behavior. While men’s borderline-inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct.
