.default-title(data-aos="userFadeUp") Особенности
.features-cards
    .card(data-aos="userFadeUp" data-aos-delay="150")
        img.card-img(src="/images/certificate.svg" alt="card icon")
        .card-title Квалификация
        .card-desc Watching the news the other day, it occurred to me that people who have “words to live by” often begin to attack and even kill others. I thought back to my own angry youth, when I could easily use.
    .card(data-aos="userFadeUp" data-aos-delay="300")
        img.card-img(src="/images/certificate.svg" alt="card icon")
        .card-title Квалификация
        .card-desc Watching the news the other day, it occurred to me that people who have “words to live by” often begin to attack and even kill others. I thought back to my own angry youth, when I could easily use.
    .card(data-aos="userFadeUp" data-aos-delay="450")
        img.card-img(src="/images/certificate.svg" alt="card icon")
        .card-title Квалификация
        .card-desc Watching the news the other day, it occurred to me that people who have “words to live by” often begin to attack and even kill others. I thought back to my own angry youth, when I could easily use.
