form.default-form(action="" method="POST" data-aos="clipRight" data-aos-duration="1400")
    .container
        .default-title Связаться с нами
        .form-body
            input.default-input(type="phone" placeholder="+38 (ХХХ) XХХ ХХ XX" name="phone" required)
            button.default-btn.white-btn(type="submit") Отправить