header.header(data-aos="fromOpacity" data-aos-duration="1000")
    .container
        a.header-logo(href="/")
            img(src="/images/logo.svg" alt="header logo")
        nav.header-nav
            a.header-nav__item(href="about.html") О нас
            .header-nav__item.header-nav__item-menu
                span Услуги
                .header-nav__services-wrap
                    .header-nav__services
                        a(href="service.html").header-nav__service Service
            a.header-nav__item(href="contacts.html") Контакты
            .header-info
                .info-contacts
                    a(href="") Одесса, ул. Проценка 23/4
                    a(href="tel: +380487032230") +38 (048) 703 22 30
                .info-socials
                    a(href="" target="_blank")
                        img.svg(src="/images/icon_instagram.svg" alt='instagram')
                    a(href="" target="_blank")
                        img.svg(src="/images/icon_facebook.svg" alt='facebook')
        .header-language__switcher
            .language-switcher__items
                a(href="").ru.active
                    span рус
                a(href="").ua
                    span укр
            img(src="/images/icon_arrow.svg" alt="arrow")
        .header-info
            .info-socials
                a(href="" target="_blank")
                    img(src="/images/icon_instagram.svg" alt='instagram')
                a(href="" target="_blank")
                    img(src="/images/icon_facebook.svg" alt='facebook')
            .info-contacts
                a(href="") Одесса, ул. Проценка 23/4
                a(href="tel: +380487032230") +38 (048) 703 22 30
        .burger-menu
            span
            span
            span
