doctype html
html(lang="en")
    head
        block vars
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge, chrome=1")
        link(rel="shortcut icon" href="src/images/icons/favicon.png" type="image/png")
        link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
        link(href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet")
        title #{title}

    body

        block header

        block content

        block footer
        block modal
        block btn

        script(src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/jquery.maskedinput@1.4.1/src/jquery.maskedinput.min.js" type="text/javascript")
        script(type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
        script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
        script(async src='https://maps.googleapis.com/maps/api/js?key=AIzaSyC_H6tcBfqTJaYuwE1PvolEOiqfEQAyBQ0&callback=initMap')
        script(defer).
            function initMap() {
                function setMap() {
                    let marker, count
                    const mapElement = document.getElementById('map')

                    const map = new google.maps.Map(mapElement, {
                        zoom: 14,
                        center: {lat: 46.483699291353325, lng: 30.68658644212539},
                        disableDefaultUI: true,
                    })
                    var infowindow = new google.maps.InfoWindow({})
                    marker = new google.maps.Marker({
                        position: {lat: 46.483699291353325, lng: 30.68658644212539},
                        map: map,
                        title: 'вулиця Проценка, 23/4, Одесса, Одесская область',

                    });
                }
                setMap()
            }
