section#reviews-section
    .container
        .default-title(data-aos="userFadeUp") Отзывы
        .default-desc(data-aos="userFadeUp" data-aos-delay="150") Категории наших основных услуги и курсов
        .reviews-slider(data-aos="fromOpacity" data-aos-delay="300")
            .card
                a.card-link(href="" target="_blank")
                    span Eugene Richards
                    img(src="/images/icon_link.svg" alt="link")
                .default-desc.desc-clamp  You’ve a partner, a lovely child and most things aren’t running smoothly these days. You’re not feeling down or depressed but you’re quickly irritated, a bit tensed and anxious. Your spouse feels that situation and…
                button.card-btn Показать полностью
            .card
                a.card-link(href="" target="_blank")
                    span Eugene Richards
                    img(src="/images/icon_link.svg" alt="link")
                .default-desc.desc-clamp  You’ve a partner, a lovely child and most things aren’t running smoothly these days. You’re not feeling down or depressed but you’re quickly irritated, a bit tensed and anxious. Your spouse feels that situation and…
                button.card-btn Показать полностью
            .card
                a.card-link(href="" target="_blank")
                    span Eugene Richards
                    img(src="/images/icon_link.svg" alt="link")
                .default-desc.desc-clamp  You’ve a partner, a lovely child and most things aren’t running smoothly these days. You’re not feeling down or depressed but you’re quickly irritated, a bit tensed and anxious. Your spouse feels that situation and…
                button.card-btn Показать полностью
        .slider-nav(data-aos="fromOpacity")
            .slider-arrow__prev
                img.svg(src="/images/icon_blue_arrow.svg" alt="prev")
            .slider-dots.dots-blue
            .slider-arrow__next
                img.svg(src="/images/icon_blue_arrow.svg" alt="next")