img.section-img(src="/images/main_ukrainian_heart.png" alt="heart" data-aos="fromOpacity")
.default-title(data-aos="userFadeUp") Преподаватели
.teachers-slider(data-aos="fromOpacity" data-aos-delay="150")
    .slide
        .teacher-photo(data-photo="/images/cute-girl-carrying-yellow-backpack-reads-removebg.png")
            img(src="/images/teacher-test.png" alt="teacher")
        .default-title Adrian Patrick
        .card-subtitle 5+ лет опыта
        .default-desc Watching the news the other day, it occurred to me that people who have “words to live by” often begin to attack and even kill others. I thought back to my own angry youth, when I could easily use.
    .slide
        .teacher-photo(data-photo="/images/teacher-test.png")
            img(src="/images/teacher-test.png" alt="teacher")
        .default-title Adrian Patrick
        .card-subtitle 5+ лет опыта
        .default-desc Watching the news the other day, it occurred to me that people who have “words to live by” often begin to attack and even kill others. I thought back to my own angry youth, when I could easily use.
    .slide
        .teacher-photo(data-photo="/images/teacher-test.png")
            img(src="/images/teacher-test.png" alt="teacher")
        .default-title Adrian Patrick
        .card-subtitle 5+ лет опыта
        .default-desc Watching the news the other day, it occurred to me that people who have “words to live by” often begin to attack and even kill others. I thought back to my own angry youth, when I could easily use.
    .slide
        .teacher-photo(data-photo="/images/teacher-test.png")
            img(src="/images/teacher-test.png" alt="teacher")
        .default-title Adrian Patrick
        .card-subtitle 5+ лет опыта
        .default-desc Watching the news the other day, it occurred to me that people who have “words to live by” often begin to attack and even kill others. I thought back to my own angry youth, when I could easily use.
    .slide
        .teacher-photo(data-photo="/images/teacher-test.png")
            img(src="/images/teacher-test.png" alt="teacher")
        .default-title Adrian Patrick
        .card-subtitle 5+ лет опыта
        .default-desc Watching the news the other day, it occurred to me that people who have “words to live by” often begin to attack and even kill others. I thought back to my own angry youth, when I could easily use.
.slider-nav(data-aos="fromOpacity")
    .slider-arrow__prev
        img.svg(src="/images/icon_blue_arrow.svg" alt="prev")
    .slider-dots.dots-blue
    .slider-arrow__next
        img.svg(src="/images/icon_blue_arrow.svg" alt="next")