.about-main {
  #main-section {
    padding-bottom: 44px;
    background-color: #f7f7f8;

    @media screen and(min-width: 993px) {
      padding: 60px 0 50px;
    }

    .container {
      padding: 0;
      
      @media screen and(min-width: 993px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        max-width: 1620px;
        padding: 0 30px;
      }
    }

    .main-section__img {
      height: 294px;
      img {
        width: 100%;
        object-fit: cover;
        height: 100%;

        @media screen and(min-width: 993px) {
          border-radius: 8px;
        }
      }

      @media screen and(min-width: 993px) {
        width: 100%;
        height: 600px;
      }
    }

    .section-content {
      padding: 20px 15px 0;

      @media screen and(min-width: 993px) {
        max-width: 550px;
        padding-left: 70px;
      }
    }
  }

  .course-form__title {
    @media screen and(min-width: 993px) {
      text-align: left;
    }
  }
}