.contacts-main {
  background-color: #f7f7f8;

  .container {
    display: flex;
    flex-direction: column;

    @media screen and(min-width: 993px) {
      display: flex;
      height: calc(100vh - 90px);
      align-items: center;
      flex-direction: row;
      overflow-y: scroll;
      padding: 90px 30px;
      &::-webkit-scrollbar {
        display: none;
      }
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;
    }
  }

  #map {
    order: 4;

    @media screen and(min-width: 993px) {
      height: 67vh !important;
    }
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    @media screen and(min-width: 993px) {
      justify-content: center;
      min-height: 100%;
      padding: 0 !important;
    }
  }

  .copyrights {
    order: 3;
    @media screen and(min-width: 993px) {
      margin-top: auto;
    }
  }

  .footer-img, .footer-img2 {
    z-index: 2 !important;
  }
  
  .footer-img {
    @media screen and(min-width: 993px) {
      top: 165px !important;
    }
  }

  .footer-img2 {
    @media screen and(min-width: 993px) {
      bottom: 0 !important;
    }
  }

  .footer-contacts {
    margin-bottom: 27px;

    @media screen and(min-width: 993px) {
      margin-bottom: 33px;
    }
  }

  .footer-socials {
    order: 2;
    margin-bottom: 20px;

    @media screen and(min-width: 993px) {
      order: 1;
      margin-bottom: 36px;
    }
  }

  .default-btn {
    order: 1;
    margin-bottom: 30px;

    @media screen and(min-width: 993px) {
      order: 2;
    }
  }
}