.main {
  #main-section {
    height: 60vh;
    background-color: $blue;
    color: #fff;
    overflow: hidden;

    @media screen and(min-width: 993px) {
      height: 70vh;
    }

    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      padding: 0;
    }

    .main-section__slider-wrap, .main-section__slider, .slide, .slick-track, .slick-list {
      height: 100%;
    }

    .main-section__slider-wrap {
      position: relative;
    }

    .main-section__slider {
      transform: unset;
      padding-right: 0;
    }

    .slick-list {
      @media screen and(min-width: 993px){
        overflow: visible;
      }
    }

    .slide {
      padding: 0 15px 9vh;
      transform: unset;

      @media screen and(min-width: 993px){
        padding: 0;
      }
    }

    .default-title {
      margin-bottom: 9px;
      @media screen and(min-width: 993px){
        margin-bottom: 10px;
      }
    }

    .default-desc {
      max-width: 250px;
      margin-bottom: 27px;

      @media screen and(min-width: 993px){
        margin-bottom: 41px;
        max-width: 480px;
      }
    }

    .default-desc, .default-title, .default-btn {
      position: relative;
      z-index: 1;
    }

    .slide {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .slide-img {
      position: absolute;
      bottom: -30px;
      right: -100px;

      @media screen and(min-width: 993px) {
        height: 60vh;
        bottom: 0;
        right: 0;
      }
    }

    .slider-nav {
      position: absolute;
      z-index: 5;
      bottom: 5vh;
      left: 15px;

      @media screen and(min-width: 321px) {
        bottom: 7vh;
      }

      @media screen and(min-width: 993px) {
        left: 0;
        bottom: 30px;
      }
    }

    .slick-dots {
      padding: 0 20px;
    }
  }

  #courses-section {
    padding: 40px 0 30px;
    background-color: #f7f7f8;
    position: relative;

    @media screen and(min-width: 993px) {
      padding: 100px 0;
    }

    .container {
      @media screen and(min-width: 993px) {
        position: relative;
      }
    }

    .default-title {
      text-align: center;
      margin-bottom: 12px;

      @media screen and(min-width: 993px) {
        margin-bottom: 6px;
      }
    }

    .default-desc {
      line-height: unset;
      margin-bottom: 28px;
      color: #8e9496;
      text-align: center;
      
      @media screen and(min-width: 993px) {
        margin-bottom: 32px;
      }
    }

    .courses-cards {
      @media screen and(min-width: 993px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
      }
    }

    .card {
      padding: 0 15px 20px;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      background-color: #ffffff;
      overflow: hidden;
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }

      @media screen and(min-width: 993px) {
        padding: 0 20px 25px;
        margin-bottom: 0;
        transition: all .4s ease-in-out;

        &:hover {
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

          .card-link {
            color: #007ba8 !important;

            svg {
              path {
                fill: #007ba8;
              }
            }
          }
        }
      }

      .card-img {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 20px;
        width: calc(100% + 30px);

        @media screen and(min-width: 993px) {
          width: calc(100% + 40px);
        }
      }

      .default-title {
        text-align: left;
        margin-bottom: 7px;

        @media screen and(min-width: 993px) {
          font-size: 24px;
          margin-bottom: 9px;
        }
      }

      .default-desc {
        line-height: 20px;
        color: #051117;
        text-align: left;
        margin-bottom: 17px;
        
        @media screen and(min-width: 993px) {
          line-height: 22px;
          margin-bottom: 15px;
        }
      }
    }

    .card-link {
      color: $blue;
      font-family: $proximaSB;
      font-size: 14px;
      display: flex;
      align-items: center;
      width: fit-content;

      span {
        margin-right: 8px;
      }
      
      @media screen and(min-width: 993px) {
        font-size: 16px;
        line-height: 28px;
        transition: all .4s ease-in-out;
        img, svg {
          transform: translateY(1px);
        }

        svg {
          path {
            transition: all .4s ease-in-out;
          }
        }
      }
    }

    .courses-img {
      position: absolute;
      top: 100px;
      width: 78px;
      z-index: 2;
      left: 4px;

      @media screen and(min-width: 993px) {
        width: 155px;
        left: -180px;
        z-index: 0;
      }
    }

    .courses-img2 {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 2;
      width: 100px;

      @media screen and(min-width: 993px) {
        bottom: 80px;
        right: unset;
        left: -200px;
        width: 200px;
        z-index: 0;
      }
    }

    .section-img3 {
      display: none;

      @media screen and(min-width: 993px) {
        display: block;
        position: absolute;
        right: -80px;
        top: 50px;
        width: 74px;
        height: 70px;
      }
    }

    .section-img4 {
      display: none;

      @media screen and(min-width: 993px) {
        display: block;
        position: absolute;
        right: -140px;
        bottom: 200px;
        width: 115px;
        height: 226px;
      }
    }
  }

  #instagram-section {
    padding: 40px 0 20px;
    background-color: #f7f7f8;

    @media screen and(min-width: 993px) {
      padding: 100px 0 50px;
    }

    .container {
      position: relative;
    }

    .section-img, .section-img2 {
      display: none;

      @media screen and(min-width: 993px) {
        display: block;
        position: absolute;
      }
    }

    .section-img {
      @media screen and(min-width: 993px) {
        top: 120px;
        left: -90px;
      }
    }

    .section-img2 {
      @media screen and(min-width: 993px) {
        bottom: 0;
        right: -130px;
      }
    }

    .default-title {
      text-align: center;
      margin-bottom: 19px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      @media screen and(min-width: 993px) {
        margin-bottom: 27px;
      }
    }

    .title-img {
      margin-right: 24px;

      @media screen and(min-width: 993px) {
        height: 26px;
        margin-right: 37px;
        transform: translateY(-10px);
      }
    }

    .title-img2 {
      margin-left: 24px;
      transform: rotateY(180deg);

      @media screen and(min-width: 993px) {
        height: 26px;
        margin-left: 37px;
        transform: translateY(-10px) rotateY(180deg);
      }
    }

    .instafeed {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 15px;
      margin-bottom: 20px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      @media screen and(min-width: 993px) {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        margin-bottom: 30px;
      }
    }

    .card {
      height: 165px;
      border-radius: 4px;
      overflow: hidden;

      @media screen and(min-width: 993px) {
        height: 350px;
      }
    }

    .default-btn {
      color: #fff;
      margin: 0 auto;
      
      @media screen and(min-width: 993px) {
        &:hover {
          color: #fff !important;
        }
      }
    }
  }
}