.service-main {
  #main-section {
    height: 72vh;
    background-color: $blue;
    color: #fff;
    overflow: hidden;

    @media screen and(min-width: 993px) {
      height: 70vh;
    }

    .container {
      height: 100%;
      position: relative;
      padding-top: 40px;

      @media screen and(min-width: 993px) {
        padding-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }

    .section-content {
      position: relative;
      z-index: 1;
    }

    .default-title {
      margin-bottom: 9px;
      @media screen and(min-width: 993px){
        margin-bottom: 10px;
      }
    }

    .default-desc {
      margin-bottom: 19px;

      @media screen and(min-width: 993px){
        margin-bottom: 38px;
        max-width: 480px;
      }
    }

    .main-section__img {
      position: absolute;
      height: 250px;
      width: auto;
      right: 15px;
      bottom: 0;
      
      @media screen and(min-width: 993px) {
        height: 60vh;
      }
    }

    .service-info {
      font-family: $proximaSB;
      font-size: 18px;
      margin-bottom: 25px;

      @media screen and(min-width: 993px) {
        font-size: 24px;
        margin-bottom: 43px;
      }
    }
  }

  #features-section {
    padding-top: 40px;
    @media screen and(min-width: 993px) {
      padding-top: 100px;
    }
    
    .container {
      position: relative;
    }

    .section-img, .section-img2{
      display: none;
      @media screen and(min-width: 993px) {
        display: block;
        position: absolute;
      }
    }
    
    .section-img {
      @media screen and(min-width: 993px) {
        left: -228px;
        top: -100px;
      }
    }

    .section-img2 {
      @media screen and(min-width: 993px) {
        bottom: -45px;
        right: -148px;
      }
    }
    
  }

  #teachers-section {

    .container {
      position: relative;
    }

    .section-img2, .section-img3 {
      display: none;
      @media screen and(min-width: 993px) {
        display: block;
        position: absolute;
      }
    }

    .section-img2 {
      @media screen and(min-width: 993px) {
        left: -160px;
        top: 40px;
      }
    }

    .section-img3 {
      @media screen and(min-width: 993px) {
        bottom: 62px;
        right: -148px;
      }
    }
  }

  #gallery-section {
    padding: 40px 0 0;
    background-color: #f7f7f8;

    @media screen and(min-width: 993px) {
      padding: 100px 0;
    }

    .default-title {
      margin-bottom: 12px;
      
      @media screen and(min-width: 993px) {
        margin-bottom: 6px;
        text-align: center;
      }
    }

    .default-desc {
      color: #8e9496;
      margin-bottom: 28px;

      @media screen and(min-width: 993px) {
        text-align: center;
        margin-bottom: 32px;
      }
    }

    .gallery-slider__xl {
      display: none;

      @media screen and(min-width: 993px) {
        display: block;
        margin-bottom: 40px;
      }

      .slide{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;
      }

      .slide-img {
        border-radius: 8px;
        overflow: hidden;
        height: 190px;
      }
    }

    .gallery-slider__sm {
      transform: translateX(-7.5px);

      .slide {
        padding: 0 7.5px;
        height: 230px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 9px;
        }
      }
      @media screen and(min-width: 993px) {
        display: none;
      }
    }

    .slider-nav {
      display: none;

      @media screen and(min-width: 993px) {
        display: flex;
        margin: 0 auto;
        width: fit-content;
      }
    }

    .slider-dots {
      @media screen and(min-width: 993px) {
        padding: 0 30px;
      }
    }

    .slider-arrow__next, .slider-arrow__prev {
      background-color: $blue;

      svg {
        path {
          fill: #fff;
        }
      }
    }
  }

  #faq-section {
    .container {
      position: relative;
    }

    .faq-section__img, .faq-section__img2 {
      display: none;
      @media screen and(min-width: 993px) {
        display: block;
        position: absolute;
      }
    }

    .faq-section__img {
      left: - 200px;
      bottom: -100px;
    }

    .faq-section__img2 {
      right: 0;
      bottom: -100px;
    }
  }

  .course-form__title {
    @media screen and(min-width: 993px) {
      text-align: left;
    }
  }

}