[data-aos="fromOpacity"] {
  opacity: 0;
  transition-property: opacity;

  &.aos-animate {
    opacity: 1;
  }
}

[data-aos="userFadeUp"] {
  transform: translateY(25px);
  opacity: 0;

  &.aos-animate {
    opacity: 1;
    transform: translateY(0);
  }
}

[data-aos="clipRight"] {
  clip-path: inset(0 100% 0 0);

  &.aos-animate {
    clip-path: inset(0 0 0 0);
  }
}