#contacts-section {
  #map {
    @media screen and(min-width: 993px) {
      width: 51vw;
      order: 1;
      height: 530px;
      border-radius: 8px;
      overflow: hidden;
      left: 45%;
      position: absolute;
      transform: unset;
    }
  }

  .default-title {
    font-size: 24px;
    margin-bottom: 9px;

    @media screen and(min-width: 993px) {
      font-size: 48px;
      margin-bottom: 18px;
    }
  }

  .footer-content {
    padding: 40px 0 10px;
    position: relative;

    @media screen and(min-width: 993px) {
      max-width: 475px;
      width: 100%;
    }
  }

  .footer-contacts {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
  }

  .footer-contact {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;

    &:last-child {
      margin-bottom: 0;
    }

    span {
      line-height: 28px;
      font-size: 14px;
      font-family: $proximaRg;
      color: #8e9496;

      @media screen and(min-width: 993px) {
        font-size: 16px;
        margin-bottom: 2px;
      }

      &:last-child {
        color: #051117;
        font-family: $proximaSB;
        font-size: 18px;
        line-height: normal;

        @media screen and(min-width: 993px) {
          font-size: 20px;
        }
      }
    }

    a {
      color: #051117;
      font-family: $proximaSB;
      font-size: 18px;
      width: fit-content;
    }
  }

  .footer-socials {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    a {
      display: block;
      &:first-child {
        margin-right: 30px;
      }

      img {
        width: 32px;
        display: block;
      }
    }
  }

  .copyrights {
    display: flex;
    font-family: $proximaRg;
    font-size: 14px;
    line-height: 22px;

    span {
      margin-right: 5px;
    }

    @media screen and(min-width: 993px) {
      font-size: 18px;
    }
  }

  .footer-img, .footer-img2 {
    position: absolute;
    z-index: -1;
  }

  .footer-img {
    width: 37px;
    height: 75px;
    top: 16px;
    right: 60px;

    @media screen and(min-width: 993px) {
      height: 145px;
      top: 98px;
      width: auto;
    }
  }

  .footer-img2 {
    height: 340px;
    width: auto;
    right: 0;
    bottom: 0;

    @media screen and(min-width: 993px) {
      height: 499px;
      right: unset;
      left: -195px;
      bottom: -30px;
    }
  }
}