#faq-section {
  padding: 25px 0;
  position: relative;
  background-color: #f7f7f8;

  .section-figure, .section-figure2 {
    display: none;
  }

  @media screen and(min-width: 993px) {
    padding: 0 0 100px;

    .section-figure, .section-figure2 {
      z-index: -1;
      position: absolute;
      display: block;
    }

    .section-figure {
      top: 50px;
      left: -300px;
      width: 641px;
      height: 577px;
    }

    .section-figure2 {
      right: -800px;
      bottom: 0;
      width: 1082px;
      height: 499px;
    }
  }

  .default-title {
    text-align: center;
    margin-bottom: 27px;

    @media screen and(min-width: 993px) {
      margin-bottom: 40px;
    }
  }

  .faq-items {
    display: flex;
    flex-direction: column;

    .default-desc {
      display: none;
    }

    @media screen and(min-width: 993px) {
      max-width: 730px;
      margin: 0 auto;
    }
  }

  .item {
    padding-bottom: 15px;
    border-bottom: 1px solid #e9e9e9;
    cursor: pointer;
    margin-bottom: 12px;

    @media screen and(min-width: 993px) {
      padding-bottom: 19px;
      margin-bottom: 19px;
    }

    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }

    &.active {
      .item-label {
        padding-bottom: 8px;

        span {
          &:last-child {
            transform: rotate(45deg);
          }
        }
      }
    }
  }

  .item-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: padding-bottom .6s ease-in-out;

    span {
      &:first-child {
        font-family: $proximaSB;
        font-size: 18px;
        margin-right: 20px;

        @media screen and(min-width: 993px) {
          font-size: 20px;
        }
      }

      &:last-child {
        position: relative;
        width: 14px;
        height: 14px;
        transition: all .6s ease-in-out;

        &:before, &:after {
          content: '';
          width: 14px;
          height: 3px;
          background-color: #2fbeff;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border-radius: 2px;
        }

        &:after {
          transform: translate(-50%, -50%) rotate(-90deg);
        }
      }
    }
  }
}