#features-section {
  background-color: #f7f7f8;
  padding-bottom: 30px;

  @media screen and(min-width: 993px) {
    padding-bottom: 100px;
  }

  .default-title {
    text-align: center;
    margin-bottom: 19px;

    @media screen and(min-width: 993px) {
      margin-bottom: 27px;
    }
  }

  .features-cards {
    @media screen and(min-width: 993px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 30px;
    }
  }

  .card {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }

    @media screen and(min-width: 993px) {
      margin-bottom: 0;
    }
  }

  .card-img {
    margin-bottom: 20px;
  }

  .card-title {
    font-size: 20px;
    font-family: $geoB;
    margin-bottom: 6px;
  }

  .card-desc {
    font-family: $proximaRg;
    font-size: 14px;
    line-height: 20px;
  }
}