.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 15px 0px;
  z-index: 100;

  @media screen and(min-width: 993px) {
    padding: 20px 0;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1620px;
  }

  .header-logo {
    height: 27px;

    img {
      height: 100%;
    }

    @media screen and(min-width: 993px) {
      height: 50px;
    }
  }

  .header-nav {
    position: absolute;
    top: 57px;
    left: 0;
    width: 100%;
    height: calc(100vh - 57px);
    background-color: $blue;
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    clip-path: inset(0 0 100% 0);
    transition: all .6s ease-in-out;
    pointer-events: none;

    &.active {
      clip-path: inset(0 0 0 0);
      pointer-events: all;
    }

    @media screen and(min-width: 993px) {
      position: static;
      height: unset;
      background-color: unset;
      clip-path: unset;
      flex-direction: row;
      pointer-events: all;
      z-index: 0;
      width: fit-content;
      margin-left: auto;
    }

    .header-info {
      display: flex;

      @media screen and(min-width: 993px) {
        display: none;
      }
    }
  }

  .header-nav__item {
    font-family: $geoB;
    font-size: 24px;
    color: #fff;
    margin-bottom: 44px;

    @media screen and(min-width: 993px) {
      color: #051117;
      font-size: 16px;
      margin-bottom: 0;
      margin-right: 50px;
      font-family: $proximaRg;
    }
  }

  .header-nav__item-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    @media screen and(min-width: 993px) {
      position: relative;
      &:hover {
        .header-nav__services-wrap {
          opacity: 1;
          pointer-events: all;
        }
      }
    }

    span {
      position: relative;
      &:before {
        content: '';
        position: absolute;
        top: 9px;
        right: -23px;
        width: 14px;
        height: 8px;
        background-image: url("../images/icon_arrow-white.svg");
        background-repeat: no-repeat;
        background-size: contain;

         @media screen and(min-width: 993px) {
           background-image: url("../images/icon_arrow.svg");
           top: 50%;
           transform: translateY(-50%);
           width: 10px;
           height: 6px;
           right: -16px;
         }
      }

      @media screen and(min-width: 993px) {
        transition: color .4s ease-in-out;

        &:hover {
          color: #3cafec;
        }
      }
    }

    &.active {
      .header-nav__services-wrap {
        padding-top: 15px;
      }
    }
  }

  .header-nav__services-wrap {
    max-height: 0;
    overflow: hidden;
    transition: all .3s ease-in-out;

    @media screen and(min-width: 993px) {
      pointer-events: none;
      opacity: 0;
      max-height: unset;
      background-color: #fff;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      padding: 30px 15px 15px;
      z-index: -1;

      &:hover {
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  .header-nav__services {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header-nav__service {
    margin-bottom: 15px;
    font-size: 18px;
    color: #fff;

    &:last-child {
      margin-bottom: 0;
    }

    @media screen and(min-width: 993px) {
      margin-bottom: 10px;
      cursor: pointer;
      font-size: 15px;
      color: #051117;
    }
  }

  .header-language__switcher {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 30px;
    margin-left: auto;
    &.active {
      .language-switcher__items {
        a {
          display: flex;
        }
      }
    }

    img {
      margin-top: 3px;
      @media screen and(min-width: 992px) {
        display: none;
      }
    }

    @media screen and(min-width: 993px) {
      margin-left: unset;
      margin-right: auto;
    }
  }

  .language-switcher__items {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 8px;

    @media screen and(min-width: 993px) {
      margin-right: 0;
      flex-direction: row;
    }
  }

  .ru {
    @media screen and(min-width: 993px) {
      align-items: center;
      margin-right: 10px;

      &:after {
        content: '/';
        margin-left: 10px;
        padding-top: 3px;
      }
    }
  }

  .ru, .ua {
    display: none;
    transition: color .6s ease-in-out;

    &.active {
      display: flex;
      pointer-events: none;
      @media screen and(min-width: 993px) {
        opacity: .45;
        display: flex;
      }
    }

    span {
      font-size: 12px;
      font-family: $openSRg;
    }

    @media screen and(min-width: 993px){
      display: flex;

      &:hover {
        color: #2fbeff;
      }
    }
  }

  .ua {
    position: absolute;
    bottom: -20px;
    left: 0;

    @media screen and(min-width: 992px) {
      position: static;
    }
  }

  .header-info {
    display: none;
    flex-direction: column;
    align-items: center;

     @media screen and(min-width: 993px) {
       display: flex;
       flex-direction: row;
     }
  }

  .info-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;

    @media screen and(min-width: 993px) {
      margin-bottom: 0;
    }

    a {
      color: #fff;
      &:first-child {
        font-size: 14px;
        font-family: $proximaRg;
        margin-bottom: 10px;
        @media screen and(min-width: 993px) {
          color: #051117;
          margin-bottom: 3px;
        }
      }

      &:last-child {
        font-family: $proximaSB;
        font-size: 20px;
        @media screen and(min-width: 993px) {
          color: $blue;
          transition: color .4s ease-in-out;

          &:hover {
            color: #007ba8 !important;
          }
        }
      }

      @media screen and(min-width: 993px) {
        white-space: nowrap;
      }
    }
  }

  .info-socials {
    display: flex;
    align-items: center;

    @media screen and(min-width: 993px) {
      margin-right: 50px;
    }
    a {
      &:first-child {
        margin-right: 30px;
      }

      img {
        width: 32px;
      }

      svg {
        rect {
          fill: #fff;
        }
        path {
          &:last-child {
            fill: #3cafec;
          }
        }
      }

      .facebook-back {
        fill: #fff;
      }
    }
  }

  .burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 16px;
    width: 24px;

    &.active {
      span {
        width: 28px !important;
        &:first-child {
          transform: rotate(45deg) translate(4px , 6px);
        }

        &:nth-child(2){
          opacity: 0;
        }

        &:last-child {
          transform: rotate(-45deg) translate(4px, -6px);
        }
      }
    }

    span {
      width: 24px;
      height: 2px;
      border-radius: 1px;
      background-color: #00c0ff;
      transition: all .6s ease-in-out;
    }

    @media screen and(min-width: 993px) {
      display: none;
    }
  }
}