#callback-modal, .modal-success{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 101;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity .4s ease-in-out;
  pointer-events: none;

  @media screen and(max-width: 992px) {
    padding: 15px;
  }

  &:before {
    content: '';
    background-color: #000;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: .8;
    backdrop-filter: blur(10px);
  }

  &.active {
    opacity: 1;
    pointer-events: all;
    //.modal-body {
    //  transform: translateY(0);
    //}
  }

  .modal-body {
    position: relative;
    z-index: 1;
    padding: 100px 100px 120px;
    max-width: 800px;
    width: 100%;
    //transform: translateY(40px);
    //transition: transform .4s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 8px 32px rgba(14, 14, 14, 0.2);
    border-radius: 32px;
    background-color: #3cafec;

    @media screen and(max-width: 992px) {
      height: 60%;
      width: 100%;
      padding: 15px;
      justify-content: center;
    }
  }

  .default-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .container {
      display: flex;
      flex-direction: column;
      padding: 0;
    }
  }

  .input-wrap {
    margin-right: 0;
    margin-bottom: 13px;

    @media screen and(min-width: 993px) {
      margin-bottom: 0;
      margin-right: 20px;
    }
  }

  .default-title {
    color: #ffffff;
    font-size: 32px;
    margin-bottom: 20px;
    font-family: $geoB;
    text-align: center;
    line-height: 40px;

    @media screen and(min-width: 993px) {
      font-size: 56px;
      margin-bottom: 40px;
      line-height: 56px;
    }
  }

  .default-desc {
    margin-bottom: 27px;
    text-transform: uppercase;
    font-size: 12px;
    span {
      &:last-child {
        color: #2fbeff;
      }
    }
    
    @media screen and(min-width: 993px) {
      margin-bottom: 45px;
      font-size: 16px;
    }
  }

  .close-modal {
    height: 25px;
    width: 25px;
    position: absolute;
    right: 25px;
    top: 25px;
    opacity: .7;
    transition: opacity .3s ease-in-out;
    cursor: pointer;

    @media screen and(max-width: 768px) {
      top: 17px;
      right: 18px;
      height: 22px;
      width: 22px;
    }

    &:before, &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 2px;
      background-color: #fff;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }

    &:hover {
      opacity: 1;
    }
  }

  .form-inputs {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media screen and(min-width: 993px) {
      flex-direction: row;
    }
  }
  
  .form-send__btn {
    display: none;
  }

  .default-btn {
    display: block;
    width: 100%;
  }

  .input-wrap {
    width: 100%;

    input {
      width: 100%;
    }
  }

  .default-form {
    width: 100%;

    @media screen and(min-width: 993px) {
      width: unset;
    }
  }
}

.modal-success {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 8px 32px rgba(14, 14, 14, 0.2);
  border-radius: 16px;
  background-color: #1b1e27;

  .default-title {
    margin-bottom: 25px;

    @media screen and(min-width: 993px) {
      margin-bottom: 35px;
    }
  }

  .default-desc {
    margin-bottom: 28px;
    font-size: 12px;
    text-align: center;
    @media screen and(min-width: 993px) {
      margin-bottom: 45px;
      font-size: 16px;
      text-transform: unset;
    }
  }

  .default-btn {
    width: fit-content;
  }
}

