#reviews-section {
  background-color: #f7f7f8;
  padding: 20px 0 30px;

  @media screen and(min-width: 993px) {
    padding: 50px 0 100px;
  }

  .container {
    @media screen and(min-width: 993px) {
      max-width: 1200px;
    }
  }

  .default-title {
    text-align: center;
    margin-bottom: 12px;

    @media screen and(min-width: 993px) {
      margin-bottom: 6px;
    }
  }

  .default-desc {
    color: #8e9496;
    margin-bottom: 26px;
    text-align: center;

    @media screen and(min-width: 993px) {
      margin-bottom: 27px;
    }
  }

  .reviews-slider {
    padding-right: 30px;
    transform: unset;

    @media screen and(min-width: 993px) {
      padding-right: 0;
      margin-bottom: 25px;
    }
  }

  .slick-list {
    @media screen and(min-width: 993px) {
      padding: 5px 0;
    }
  }

  .slider-nav {
    width: fit-content;
    margin: 0 auto;
    display: none;

    @media screen and(min-width: 993px) {
      display: flex;
    }
  }

  .slider-dots {
    padding: 0 30px;
  }

  .slider-arrow__next, .slider-arrow__prev {
    background-color: $blue;

    @media screen and(min-width: 993px) {
      &:hover {
        background-color: #007ba8;
      }
    }

    svg {
      path {
        fill: #fff;
      }
    }
  }

  .card {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #ffffff;
    padding: 20px 15px;

    @media screen and(min-width: 993px) {
      margin: 0 15px;
    }
    .default-desc {
      color: #051117;
      line-height: 20px;
      margin-bottom: 13px;
      text-align: left;

      &.desc-clamp {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
      }
    }
  }

  .card-link {
    display: flex;
    align-items: center;
    width: fit-content;
    margin-bottom: 7px;

    span {
      font-size: 20px;
      font-family: $geoB;
      margin-right: 10px;
    }

    img, svg {
      transform: translateY(-3px);
    }
  }

  .card-btn {
    font-size: 16px;
    color: $blue;
    font-family: $proximaSB;
    background-color: unset;

    @media screen and(min-width: 993px) {
      cursor: pointer;
    }
  }
}