#teachers-section {
  padding: 40px 0 43px;
  position: relative;

  @media screen and(min-width: 993px) {
    padding: 70px 0 80px;
  }

  .default-title {
    margin-bottom: 24px;

    @media screen and(min-width: 993px) {
      text-align: center;
      margin-bottom: 27px;
    }
  }

  .teachers-slider {
    padding-right: 50px;

    @media screen and(min-width: 993px) {
      padding-right: 0;
      margin-bottom: 33px;
    }
  }

  .teacher-photo {
    height: 340px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #eaeaea;
    position: relative;
    margin-bottom: 35px;

    img {
      width: 100%;
      object-fit: cover;
      height: 100%;
      border-radius: 8px;
    }

    &:before {
      content: '';
      width: 100%;
      height: 340px;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      background-color: #3cafec;
      opacity: 0.66;
      position: absolute;
      top: 10px;
      left: -10px;
      z-index: -1;
    }
  }

  .slide {
    .default-title {
      font-size: 20px;
      margin-bottom: 7px;
    }
  }

  .card-subtitle {
    margin-bottom: 10px;
    font-family: $proximaSB;
    font-size: 16px;
    line-height: 22px;
    color: $blue;
  }

  .section-img {
    width: 37px;
    position: absolute;
    right: 27px;

    @media screen and(min-width: 993px) {
      display: none;
    }
  }

  .slider-nav {
    display: none;

    @media screen and(min-width: 993px){
      margin: 0 auto;
      width: fit-content;
      display: flex;
    }
  }

  .slider-dots {
    @media screen and(min-width: 993px) {
      padding: 0 30px;
    }
  }

  .slider-arrow__next, .slider-arrow__prev {
    background-color: $blue;

    @media screen and(min-width: 993px) {
      &:hover {
        background-color: #007ba8;
      }
    }

    svg {
      path {
        fill: #fff;
      }
    }
  }
}