extends includes/layout

append header
    include includes/header

append content
    main#about-main.about-main
        section#main-section
            .container
                .main-section__img(data-aos="clipRight")
                    img(src="/images/about-test.jpg" alt="main image")
                .section-content
                    .default-title(data-aos="userFadeUp" data-aos-delay="150") О нас
                    .default-desc(data-aos="userFadeUp" data-aos-delay="300") Have you ever had a problem with a burned light? Thanks to the effort of Thomas Edison we no longer need to invent a light bulb. We just go to the store or our cupboard and pull one out and screw it in. Voila! Light! <br> <br>I am sure you realize that it took Thomas Edison many, many tries before he perfected the light bulb. Someone asked him one day if he grew discouraged by his failures. He answered, “I haven’t failed, I’ve discovered one more way how not to make a light bulb”<<br><br>We all need more light in our life. Sometimes we can’t see the light at the end of the tunnel but there is always hope and help.
        section#features-section
            .container
                include includes/features
        form.default-form(action="" method="POST" data-aos="clipRight" data-aos-duration="1400")
            .container
                .default-title.course-form__title Записаться на <br> пробное занятия
                .form-body
                    input.default-input(type="phone" placeholder="+38 (ХХХ) XХХ ХХ XX" name="phone" required)
                    button.default-btn.white-btn(type="submit") Отправить
        section#teachers-section
            .container
                include includes/teachers
        include includes/reviews
        section#faq-section
            .container
                include includes/faq
        include includes/form

append footer
    include includes/footer
        section

append modal
    include includes/modal

append btn
    button.hoisting-btn(data-modal="#callback-modal")
        img(src="/images/phone.svg")