extends includes/layout

append header
    include includes/header

append content
    main.main
        section#main-section
            .container
                .main-section__slider-wrap
                    .slider-nav(data-aos="userFadeUp" data-aos-delay="600")
                        .slider-arrow__prev
                            img(src="/images/icon_blue_arrow.svg" alt="prev")
                        .slider-dots
                        .slider-arrow__next
                            img(src="/images/icon_blue_arrow.svg" alt="next")
                    .main-section__slider
                        .slide
                            .default-title(data-aos="userFadeUp" data-aos-delay="150") Стартовый английский
                            .default-desc(data-aos="userFadeUp" data-aos-delay="300") Детки 1, 2 классов объединены в одну группу. Как показывает практика, детям гораздо легче учиться в кругу своих однолеток. Именно поэтому мы делим ребят на группы не по уровню владения языком, а по возрасту.
                            .btn-wrap(data-aos="userFadeUp" data-aos-delay="450")
                                a(href="").default-btn.white-btn Подробнее
                            img.slide-img(src="/images/cute-girl-carrying-yellow-backpack-reads-removebg.png" alt="slide image" data-aos="fromOpacity" data-aos-delay="750")
                        .slide
                            .default-title(data-aos="userFadeUp" data-aos-delay="150") Стартовый английский
                            .default-desc(data-aos="userFadeUp" data-aos-delay="300") Детки 1, 2 классов объединены в одну группу. Как показывает практика, детям гораздо легче учиться в кругу своих однолеток. Именно поэтому мы делим ребят на группы не по уровню владения языком, а по возрасту.
                            .btn-wrap(data-aos="userFadeUp" data-aos-delay="450")
                                a(href="").default-btn.white-btn Подробнее
                            img.slide-img(src="/images/cute-girl-carrying-yellow-backpack-reads-removebg.png" alt="slide image" data-aos="fromOpacity" data-aos-delay="750")
                        .slide
                            .default-title(data-aos="userFadeUp" data-aos-delay="150") Стартовый английский
                            .default-desc(data-aos="userFadeUp" data-aos-delay="300") Детки 1, 2 классов объединены в одну группу. Как показывает практика, детям гораздо легче учиться в кругу своих однолеток. Именно поэтому мы делим ребят на группы не по уровню владения языком, а по возрасту.
                            .btn-wrap(data-aos="userFadeUp" data-aos-delay="450")
                                a(href="").default-btn.white-btn Подробнее
                            img.slide-img(src="/images/cute-girl-carrying-yellow-backpack-reads-removebg.png" alt="slide image" data-aos="fromOpacity" data-aos-delay="750")
        section#courses-section
            .container
                img.courses-img(src="/images/cup.svg" alt="cup" data-aos="fromOpacity")
                img.section-img3(src="/images/main_ukrainian_heart.png" alt="heart" data-aos="fromOpacity")
                img.section-img4(src="/images/main_triangle.svg" alt="triangle" data-aos="fromOpacity")
                .default-title(data-aos="userFadeUp") Курсы
                .default-desc(data-aos="userFadeUp" data-aos-delay="150") Категории наших основных услуги и курсов
                .courses-cards
                    .card(data-aos="userFadeUp")
                        img.card-img(src="/images/card-test.png" alt="card image")
                        .default-title Дошкольники
                        .default-desc У нас Ваш малыш впервые познакомится с английским языком
                        a.card-link(href="")
                            span Подробнее
                            img.svg(src="/images/icon_blue_arrow.svg" alt="arrow")
                    .card(data-aos="userFadeUp" data-aos-delay="150")
                        img.card-img(src="/images/card-test.png" alt="card image")
                        .default-title Стартовый
                        .default-desc У нас Ваш малыш впервые познакомится с английским языком
                        a.card-link(href="")
                            span Подробнее
                            img.svg(src="/images/icon_blue_arrow.svg" alt="arrow")
                    .card(data-aos="userFadeUp" data-aos-delay="300")
                        img.card-img(src="/images/card-test.png" alt="card image")
                        .default-title Базовый
                        .default-desc У нас Ваш малыш впервые познакомится с английским языком
                        a.card-link(href="")
                            span Подробнее
                            img.svg(src="/images/icon_blue_arrow.svg" alt="arrow")
                    .card(data-aos="userFadeUp")
                        img.card-img(src="/images/card-test.png" alt="card image")
                        .default-title Основной + средний
                        .default-desc У нас Ваш малыш впервые познакомится с английским языком
                        a.card-link(href="")
                            span Подробнее
                            img.svg(src="/images/icon_blue_arrow.svg" alt="arrow")
                    .card(data-aos="userFadeUp" data-aos-delay="150")
                        img.card-img(src="/images/card-test.png" alt="card image")
                        .default-title Группа ЗНО
                        .default-desc У нас Ваш малыш впервые познакомится с английским языком
                        a.card-link(href="")
                            span Подробнее
                            img.svg(src="/images/icon_blue_arrow.svg" alt="arrow")
                    .card(data-aos="userFadeUp" data-aos-delay="300")
                        img.card-img(src="/images/card-test.png" alt="card image")
                        .default-title Для взрослых
                        .default-desc У нас Ваш малыш впервые познакомится с английским языком
                        a.card-link(href="")
                            span Подробнее
                            img.svg(src="/images/icon_blue_arrow.svg" alt="arrow")
                img.courses-img2(src="/images/main_flag.svg" alt="cup" data-aos="fromOpacity")
        section#teachers-section
            .container
                include includes/teachers
        section#instagram-section
            .container
                img.section-img(src="/images/main_suitcase.svg" alt="suitcase" data-aos="fromOpacity")
                img.section-img2(src="/images/калькулятор.svg" alt="calculator" data-aos="fromOpacity")
                .default-title(data-aos="userFadeUp")
                    img.title-img(src="/images/hearts.svg" alt="hearts")
                    span Инстаграм
                    img.title-img2(src="/images/hearts.svg" alt="hearts")
                #instafeed.instafeed(data-aos="fromOpacity" data-aos-delay="150")
                    .card
                        img(src="/images/card-test.png" alt="instagram photo")
                    .card
                        img(src="/images/card-test.png" alt="instagram photo")
                    .card
                        img(src="/images/card-test.png" alt="instagram photo")
                    .card
                        img(src="/images/card-test.png" alt="instagram photo")
                .insta-btn__wrap(data-aos="fromOpacity")
                    a.default-btn(href="" target="_blank")  Открыть профиль

        include includes/reviews
        include includes/form
append footer
    include includes/footer

append modal
    include includes/modal

append btn
    button.hoisting-btn(data-modal="#callback-modal")
        img(src="/images/phone.svg")
