extends includes/layout

append header
    include includes/header

append content
    main.service-main
        section#main-section
            .container
                .section-content
                    .default-title(data-aos="userFadeUp" data-aos-delay="150") Стартовый английский
                    .default-desc(data-aos="userFadeUp" data-aos-delay="300") Детки 1, 2 классов объединены в одну группу. Как показывает практика, детям гораздо легче учиться в кругу своих однолеток. Именно поэтому мы делим ребят на группы не по уровню владения языком, а по возрасту.
                    .service-info(data-aos="userFadeUp" data-aos-delay="450") 4-5 лет — 800 грн. / 8 занятий
                    .btn-wrap(data-aos="userFadeUp" data-aos-delay="600")
                        button.default-btn.white-btn(data-modal="#callback-modal") Записаться
                img.main-section__img(src="/images/service-test.png" alt="service image" data-aos="fromOpacity" data-aos-delay="750")
        section#features-section
            .container
                img(src="/images/main_flag.svg" alt="british flag" data-aos="fromOpacity").section-img
                img(src="/images/english_teapot.svg" alt="teapot" data-aos="fromOpacity").section-img2
                include includes/features
        section#teachers-section
            .container
                img(src="/images/english_cap.svg" alt="cap" data-aos="fromOpacity").section-img2
                img(src="/images/english_umbrella.svg" alt="umbrella" data-aos="fromOpacity").section-img3
                include includes/teachers
        form.default-form(action="" method="POST" data-aos="clipRight" data-aos-duration="1400")
            .container
                .default-title.course-form__title Записаться на <br> пробное занятия
                .form-body
                    input.default-input(type="phone" placeholder="+38 (ХХХ) XХХ ХХ XX" name="phone" required)
                    button.default-btn.white-btn(type="submit") Отправить
        section#gallery-section
            .container
                .default-title(data-aos="userFadeUp") Галерея
                .default-desc(data-aos="userFadeUp" data-aos-delay="150") Прочувствуйте атмосферу на наших занятиях
                .gallery-slider__xl(data-aos="fromOpacity" data-aos-delay="300")
                    .slide
                        .slide-img
                            img(src="/images/about-test.jpg" alt="gallery slide")
                        .slide-img
                            img(src="/images/about-test.jpg" alt="gallery slide")
                        .slide-img
                            img(src="/images/about-test.jpg" alt="gallery slide")
                        .slide-img
                            img(src="/images/about-test.jpg" alt="gallery slide")
                        .slide-img
                            img(src="/images/about-test.jpg" alt="gallery slide")
                    .slide
                        .slide-img
                            img(src="/images/about-test.jpg" alt="gallery slide")
                        .slide-img
                            img(src="/images/about-test.jpg" alt="gallery slide")
                        .slide-img
                            img(src="/images/about-test.jpg" alt="gallery slide")
                        .slide-img
                            img(src="/images/about-test.jpg" alt="gallery slide")
                        .slide-img
                            img(src="/images/about-test.jpg" alt="gallery slide")
                        .slide-img
                            img(src="/images/about-test.jpg" alt="gallery slide")
                .gallery-slider__sm(data-aos="fromOpacity" data-aos-delay="300")
                    .slide
                        img(src="/images/about-test.jpg" alt="gallery slide")
                    .slide
                        img(src="/images/about-test.jpg" alt="gallery slide")
                    .slide
                        img(src="/images/about-test.jpg" alt="gallery slide")
                .slider-nav(data-aos="fromOpacity")
                    .slider-arrow__prev
                        img.svg(src="/images/icon_blue_arrow.svg" alt="prev")
                    .slider-dots.dots-blue
                    .slider-arrow__next
                        img.svg(src="/images/icon_blue_arrow.svg" alt="next")
        section#faq-section
            .container
                img.faq-section__img(src="/images/english_ferriswheel.svg" alt="observation wheel" data-aos="fromOpacity")
                img.faq-section__img2(src="/images/english_lamp.svg" alt="lamp" data-aos="fromOpacity")
                include includes/faq
        include includes/form

append footer
    include includes/footer

append modal
    include includes/modal

append btn
    button.hoisting-btn(data-modal="#callback-modal")
        img(src="/images/phone.svg")