* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
  border: unset;
  text-decoration: unset;
  list-style: none;
}

a {
  &:visited {
    color: unset;
  }
  display: block;
  transition: color .4s ease-in-out;

  @media screen and(min-width: 993px) {
    &:hover {
      color: #3cafec !important;
    }
  }
}

img {
  display: block;
}

body {
  color: #051117;
}

main {
  padding-top: 56px;
  overflow: hidden;

  @media screen and(min-width: 993px) {
    padding-top: 90px;
  }
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;

  @media screen and(min-width: 993px) {
    padding: 0 30px;
  }
}

.default-btn {
  padding: 11px 30px 12px;
  background-color: $blue;
  color: #fff;
  width: fit-content;
  font-family: $proximaSB;
  font-size: 14px;
  border-radius: 28px;
  transition: all .4s ease-in-out;

  &.white-btn {
    background-color: #fff;
    color: $blue;

    @media screen and(min-width: 993px) {
      &:hover {
        background-color: #e5e5e5;
      }
    }
  }
  
  @media screen and(min-width: 993px) {
    padding: 9px 40px 11px;
    font-size: 18px;
    cursor: pointer;

    &:hover {
      background-color: #007ba8;
    }
  }
}

.default-title {
  font-family: $geoB;
  font-size: 24px;

  @media screen and(min-width: 993px) {
    font-size: 48px;
  }
}

.default-desc {
  font-family: $proximaRg;
  font-size: 14px;
  line-height: 22px;

  @media screen and(min-width: 993px) {
    font-size: 18px;
    line-height: 28px;
  }
}

.slider-nav {
  display: flex;
  align-items: center;
}

.slider-arrow__prev, .slider-arrow__next {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color .4s ease-in-out;

  @media screen and(min-width: 993px) {
    width: 32px;
    height: 32px;
    &:hover {
      background-color: #e5e5e5;
    }
  }
}

.slider-arrow__prev {
  padding-right: 2px;
  img, svg {
    transform: scale(-1);
  }
}

.slider-arrow__next {
  padding-left: 2px;
}

.slick-dots {
  display: flex;
  align-items: center;
  li {
    height: 6px;
    width: 6px;
    background-color: rgba(255, 255, 255, .4);
    border-radius: 50%;
    margin-right: 12px;
    transition: background-color .6s ease;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }

    &.slick-active {
      background-color: rgba(255, 255 , 255, 1);
    }

    button {
      display: none;
    }
  }
}

.slider-dots {
  @media screen and(min-width: 993px) {
    &.dots-blue {
      ul {
        &:first-child {
          display: none;
        }

        &:last-child {
          display: flex;
        }
      }
      li {
        background-color: $blue;
        opacity: .4;

        &.slick-active {
          opacity: 1;
        }
      }
    }
  }
}

.slick-slider {
  padding-right: 20px;
  transform: translateX(-10px);

  @media screen and(min-width: 993px) {
    padding-right: 0;
  }

  .slick-list {
    overflow: visible;

    @media screen and(min-width: 993px) {
      overflow: hidden;
    }
  }

  .slick-track {
    display: flex;

    .slide-card {
      height: 100%;
    }
  }

  .slick-slide {
    transform: scale(.9);
    transition: all .3s ease-in-out;
    height: inherit;
    padding: 0 20px;

    @media screen and(min-width: 993px) {
      transform: unset;
    }
  }
  .slick-current {
    transform: scale(1);
  }
}

.default-form {
  background-color: $blue;
  padding: 40px 0;
  position: relative;

  @media screen and(min-width: 993px) {
    padding: 60px 0;
  }

  .container {
    @media screen and(min-width: 993px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .default-title {
    color: #fff;
    text-align: center;
    margin-bottom: 14px;

    @media screen and(min-width: 993px) {
      margin-bottom: 0;
    }
  }

  .form-body {
    display: flex;
    border: 2px solid #ffffff;
    border-radius: 28px;
    justify-content: space-between;
  }

  .default-input {
    background-color: unset;
    font-family: $proximaSB;
    font-size: 13px;
    line-height: 28px;
    color: #fff;
    padding: 0 15px;

    &::placeholder {
      opacity: 0.5;
      color: #fff;
    }

    @media screen and(min-width: 993px) {
      margin-right: 40px;
      font-size: 14px;
    }
  }
}

#map {
  height: 232px;
  position: relative;
  width: calc(100% + 30px);
  left: 50%;
  transform: translateX(-50%);
}

.input-error {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  font-family: $proximaSB;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
}

.info-socials, .footer-socials {
  a {
    background-color: #3cafec;
    border-radius: 50%;

    svg, img {
      transition: all .4s ease-in-out;
    }
    &:hover {
      svg, img {
        transform: translate(3px, -3px);
      }
    }
  }
}

.hoisting-btn {
  background-color: #00c0ff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  background-image: linear-gradient(203deg, #2fbeff 0%, #1b70b6 100%);
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  z-index: 99;

  img, svg {
    width: 20px;
    height: 20px;
  }
  @media screen and(min-width: 993px) {
    display: none;
  }
}