@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url('../fonts/proxima_nova_semibold.eot'); /* IE 9 Compatibility Mode */
  src: url('../fonts/proxima_nova_semibold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
  url('../fonts/proxima_nova_semibold.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/proxima_nova_semibold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
  url('../fonts/proxima_nova_semibold.ttf') format('truetype') /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Open Sans Regular';
  src: url('../fonts/subset-OpenSans-Regular.eot');
  src: url('../fonts/subset-OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/subset-OpenSans-Regular.woff2') format('woff2'),
  url('../fonts/subset-OpenSans-Regular.woff') format('woff'),
  url('../fonts/subset-OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Geometria Bold';
  src: url('../fonts/subset-Geometria-Bold.eot');
  src: url('../fonts/subset-Geometria-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/subset-Geometria-Bold.woff2') format('woff2'),
  url('../fonts/subset-Geometria-Bold.woff') format('woff'),
  url('../fonts/subset-Geometria-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: block;
}


@font-face {
  font-family: 'Proxima Nova Regular';
  src: url('../fonts/subset-ProximaNova-Regular.eot');
  src: url('../fonts/subset-ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/subset-ProximaNova-Regular.woff2') format('woff2'),
  url('../fonts/subset-ProximaNova-Regular.woff') format('woff'),
  url('../fonts/subset-ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}